.cart {
  width: 1200px;

  @media (max-width: 1486px) {
    width: 712px;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }

  &__title {
    margin: 30px 0 0 0;

    @media (max-width: 1024px) {
      margin: 20px 0 0 0;
    }
  }

  &__table {
    margin: 30px 0 0 0;

    // border: solid 1px red; //--
  }

  &__table-header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__table-title {
    &_name {
      width: 494px;

      @media (max-width: 1486px) {
        width: 247px;
      }
    }

    &_quantity {
      width: 245px;

      @media (max-width: 1486px) {
        width: 155px;
      }
    }

    &_article {
      width: 123px;

      @media (max-width: 1486px) {
        width: 84px;
      }
    }

    &_price {
      width: 124px;

      @media (max-width: 1486px) {
        width: 108px;
      }
    }

    &_availability {
      width: 215px;

      @media (max-width: 1486px) {
        width: 118px;
      }
    }
  }

  &__contact-info {
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  margin: 20px 0 0 0;

  @media (max-width: 1486px) {
    padding: 30px 20px;
  }
  @media (max-width: 374px) {
    flex-wrap: wrap;
  }

  &__left-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      width: 70%;
      flex: 1 0 auto;
    }

    @media (max-width: 750px) {
      width: 60%;
      min-width: 175px;
    }
    @media (max-width: 374px) {
      width: 100%;
    }
  }

  &__image {
    width: 114px;
    height: 70px;
    overflow: hidden;

    @media (max-width: 1486px) {
      width: 80px;
    }
    @media (max-width: 1024px) {
      width: 20%;
    }
    @media (max-width: 750px) {
      width: 100%;
    }

    img {
      display: block;
      width: 75px;

      @media (max-width: 1486px) {
        width: 62px;
      }
      @media (max-width: 1024px) {
        width: 75px;
        height: auto;
      }
      @media (max-width: 374px) {
        margin: 0 auto;
      }
    }
  }

  &__title {
    width: 370px;
    padding: 0 154px 0 0;

    @media (max-width: 1486px) {
      width: 147px;
      padding: 0 18px 0 0;
    }
    @media (max-width: 1024px) {
      width: 80%;
      padding: 0 60px 0 0;
    }
    @media (max-width: 750px) {
      width: 100%;
      margin: 10px 0 0 0;
    }
    @media (max-width: 374px) {
      margin: 10px 0;
      padding: 0;
      text-align: center;
    }
  }

  &__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      min-width: 200px;
    }
    @media (max-width: 750px) {
      width: 40%;
      min-width: 130px;
    }
    @media (max-width: 374px) {
      width: 100%;
    }
  }

  &__quantity {
    width: 245px;
    height: 38px;
    display: flex;

    @media (max-width: 1486px) {
      width: 155px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      margin: 20px 0;
      order: 4;
      display: flex;
      justify-content: flex-end;
    }
    @media (max-width: 750px) {
      justify-content: flex-end;
    }
    @media (max-width: 374px) {
      justify-content: center;
    }
  }

  &__decrease-btn {
    background: #53b4f3;
    border-radius: 5px 0px 0px 5px;
    width: 30px;
    height: 100%;
    color: #ffffff;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__quantity-input {
    background: #f2f4f9;
    width: 70px;
    height: 100%;
    text-align: center;
  }

  &__increase-btn {
    background: #53b4f3;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    height: 100%;
    color: #ffffff;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__article {
    width: 123px;

    @media (max-width: 1486px) {
      width: 84px;
    }
    @media (max-width: 1024px) {
      width: fit-content;
      order: 2;
    }
  }

  &__price {
    width: 123px;
    font-weight: 800;

    @media (max-width: 1486px) {
      width: 108px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      text-align: right;
      order: 5;
    }
    @media (max-width: 750px) {
      text-align: right;
    }
    @media (max-width: 374px) {
      text-align: center;
    }
  }

  &__availability {
    width: 147px;

    @media (max-width: 1486px) {
      width: 60px;
    }
    @media (max-width: 1024px) {
      width: fit-content;
      order: 1;
    }
  }

  &__delete-btn {
    width: 38px;
    height: 38px;
    background: #ff4f8d;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
      order: 3;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 0 0;

  &__text {
    display: flex;
    margin: 10px 0 0 0;
  }

  &__title {
    margin: 0 30px 0 0;
  }

  &__price {
    color: #00c35c;
    margin: 0 50px 0 0;
  }

  &__clear-btn {
    background: #ff4f8d;
    border-radius: 29px;
    padding: 10px 30px;
    font-weight: bold;
    color: #ffffff;
    width: 129px;
    margin: 10px 28px 0 0;

    @media (max-width: 1486px) {
      margin: 10px 0 0 0;
    }
  }
}

//*******************

.contact-info {
  // border: solid 1px red; //--
  margin: 40px 0 0 0;

  &__title {
  }

  &__subjects {
    margin: 20px 0 0 0;
  }

  &__header-row {
    display: flex;
  }

  &__header {
    border-radius: 10px 10px 0px 0px;
    padding: 15px 45px;
    background: #53b4f3;
    color: #ffffff;

    @media (max-width: 1024px) {
      padding: 15px;
    }

    &_natural-person {
    }

    &_legal-entity {
    }

    &_active {
      background: #ffffff;
      color: #575b7e;
    }
  }

  &__body-row {
  }

  &__body {
    background: #ffffff;
    border-radius: 0px 10px 10px 10px;
    display: none;
    padding: 20px;

    &_natural-person {
    }

    &_legal-entity {
    }

    &_active {
      display: block;
    }
  }
}

//******************
.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__first-col {
    width: 445px;
    display: flex;
    flex-direction: column;

    // border: solid 1px pink; //--

    @media (max-width: 1486px) {
      width: 100%;
    }
  }

  &__subtitle {
  }

  &__label {
    margin: 15px 0 10px 0;
    padding: 0 0 0 20px;
    color: #97a2b9;
  }

  &__input {
    background: #f2f4f9;
    border-radius: 5px;
    padding: 10px 20px;
    &::placeholder {
      color: #97a2b9;
    }
  }

  //****************

  &__second-col {
    width: 345px;

    // border: solid 1px pink; //--

    @media (max-width: 1486px) {
      width: 100%;
      margin: 30px 0 0 0;
    }
  }

  &__delivery-block {
    display: flex;
    flex-direction: column;

    // border: solid 1px plum; //--
  }

  &__subtitle {
    margin: 0 0 15px 0;
  }

  &__delivery {
  }

  &__radio {
    margin: 5px 5px 0 0;

    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #f2f4f9;
    border-radius: 10px;

    &:checked {
      border: solid 2px #f2f4f9;
      background: #53b4f3;
      border-radius: 10px;
    }
  }

  &__installation-block {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;

    // border: solid 1px plum; //--
  }

  &__installation-options {
    width: 216px;
    background: url("/img/icons/blue_arrow_d_12.png") center right 10px
      no-repeat #f2f4f9;
    border-radius: 5px;
    padding: 10px 20px;
    color: #97a2b9;

    -webkit-appearance: none;
  }

  &__installation {
  }

  &__payment-block {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;

    // border: solid 1px plum; //--
  }

  &__payment {
  }

  &__total {
    // border: solid 1px plum; //--

    font-weight: bold;
    margin: 30px 0 0 0;
  }

  &__total-amount {
    font-weight: bold;
    color: #00c35c;

    @media (max-width: 376px) {
      display: block;
      padding: 5px 0 0 0;
    }
  }

  //****************

  &__third-col {
    width: 315px;
    padding: 33px 0 0 0;

    // border: solid 1px pink; //--

    @media (max-width: 1486px) {
      width: 100%;
    }
  }

  &__consent {
    display: flex;
  }

  &__checkbox {
  }

  &__label-checkbox {
    margin: 0 0 0 10px;
    font-size: 12px;
    line-height: 15px;
    color: #97a2b9;
  }

  &__submit-btn {
    background: #53b4f3;
    border-radius: 29px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 30px;
    margin: 40px 0 0 0;

    @media (max-width: 1024px) {
      margin: 20px 0 0 0;
    }
  }
}
