.vacancies {
  &__title {
    margin: 30px 0 0 0;
    @media (max-width: 1024px) {
      margin: 20px 0 0 0;
    }
  }

  &__text {
    margin: 30px 0 0 0;

    @media (max-width: 1486px) {
      margin: 35px 0 0 0;
    }
    @media (max-width: 1024px) {
      margin: 15px 0 0 0;
    }
  }

  &__paragraph {
    line-height: 25px;
  }

  &__list {
    margin: 15px 0 0 0;
    line-height: 25px;
  }

  &__list-item {
    padding: 0 0 0 23px;
    background: url("../img/icons/blue_arrow_r.png") 0 center no-repeat;
  }

  &__form {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1486px) {
      margin: 30px 0 0 0;
    }
    @media (max-width: 1024px) {
      margin: 20px 0 0 0;
    }
  }
  &__left-column {
    width: 339px;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: 45%;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__right-column {
    width: 585px;

    @media (max-width: 1486px) {
      width: 343px;
    }
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 700px) {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }

  &__input-block {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: #97a2b9;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
  }

  &__input {
    color: #575b7e;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 0 10px 0;

    &::placeholder {
      color: #97a2b9;
    }
  }

  &__file-block {
    display: flex;
    margin: 10px 0 20px 0;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__file {
    margin: 0 0 0 50px;

    @media (max-width: 1024px) {
      margin: 10px 0 0 0;
    }
  }

  &__checkbox-block {
    display: flex;
    margin: 0 0 20px 0;
  }

  &__checkbox-input {
    margin: 2px 0 0 0;
  }

  &__label-checkbox {
    margin: 0 0 0 10px;
    font-size: 12px;
    line-height: 15px;
  }

  &__submit-btn {
    width: 130px;
    height: 38px;
    background: #53b4f3;
    border-radius: 29px;
    font-weight: bold;
    color: #ffffff;
  }

  &__afterwords {
    margin: 0 0 15px 0;
  }
}
